<.header>
  Edit Set <%= @set.id %>
  <:subtitle>Use this form to manage set records in your database.</:subtitle>
</.header>

<.set_form changeset={@changeset} action={~p"/sets/#{@set}"} />

<.back navigate={~p"/sets"}>Back to sets</.back>
